<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.start.coc.service.dao.ClanMapper">
	<resultMap id="BaseResultMap" type="com.start.coc.service.model.Clan">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, created, remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from clan
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from clan
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.start.coc.service.model.Clan">
		insert into clan (id, name, created,
		remark)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{created,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.start.coc.service.model.Clan">
		insert into clan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.start.coc.service.model.Clan">
		update clan
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.start.coc.service.model.Clan">
		update clan
		set name = #{name,jdbcType=VARCHAR},
		created = #{created,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<sql id="inc_where">
		<where>
			<if test="eq_id!=null">
				and t1.id = #{eq_id}
			</if>						
			<if test="eq_name != null">
				and t1.name = #{eq_name,jdbcType=VARCHAR}
			</if>
			<if test="eq_created != null">
				and t1.created = #{eq_created,jdbcType=TIMESTAMP}
			</if>
			<if test="eq_remark != null">
				and t1.remark = #{eq_remark,jdbcType=VARCHAR}
			</if>
			<if test="like_id!=null">
				and t1.id like #{like_id}
			</if>
			<if test="like_name != null">
				and t1.name like #{like_name,jdbcType=VARCHAR}
			</if>
			<if test="like_created != null">
				and t1.created like #{like_created,jdbcType=TIMESTAMP}
			</if>
			<if test="like_remark != null">
				and t1.remark like #{like_remark,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<select id="getByFind" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from clan t1
		<include refid="inc_where" />
	</select>
</mapper>