<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.start.coc.service.dao.ClanManMapper" >
  <resultMap id="BaseResultMap" type="com.start.coc.service.model.ClanMan" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="clan_id" property="clanId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="is_quit" property="isQuit" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, clan_id, name, role, created, is_quit, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from clan_man
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from clan_man
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.start.coc.service.model.ClanMan" useGeneratedKeys="true" keyProperty="id">   
    insert into clan_man (id, clan_id, name, role, 
      created, is_quit, remark
      )
    values (#{id,jdbcType=BIGINT}, #{clanId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{isQuit,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.start.coc.service.model.ClanMan" >
    insert into clan_man
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clanId != null" >
        clan_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="isQuit != null" >
        is_quit,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clanId != null" >
        #{clanId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="isQuit != null" >
        #{isQuit,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.start.coc.service.model.ClanMan" >
    update clan_man
    <set >
      <if test="clanId != null" >
        clan_id = #{clanId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="isQuit != null" >
        is_quit = #{isQuit,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.start.coc.service.model.ClanMan" >
    update clan_man
    set clan_id = #{clanId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      is_quit = #{isQuit,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <sql id="inc_where">
		<where>
			<if test="eq_id!=null">
				and t1.id = #{eq_id}
			</if>				
			<if test="eq_clanId != null">
				and t1.clan_id = #{eq_clanId,jdbcType=VARCHAR}
			</if>		
			<if test="eq_name != null">
				and t1.name = #{eq_name,jdbcType=VARCHAR}
			</if>
			<if test="eq_role != null">
				and t1.role = #{eq_role,jdbcType=VARCHAR}
			</if>
			<if test="eq_created != null">
				and t1.created = #{eq_created,jdbcType=TIMESTAMP}
			</if>
			<if test="eq_isQuit != null">
				and t1.is_quit = #{eq_isQuit,jdbcType=TIMESTAMP}
			</if>
			<if test="eq_remark != null">
				and t1.remark = #{eq_remark,jdbcType=VARCHAR}
			</if>
			<if test="like_id!=null">
				and t1.id like #{like_id}
			</if>
			<if test="like_clanId != null">
				and t1.clan_id like #{like_clanId,jdbcType=VARCHAR}
			</if>
			<if test="like_name != null">
				and t1.name like #{like_name,jdbcType=VARCHAR}
			</if>
			<if test="like_role != null">
				and t1.role like #{like_role,jdbcType=VARCHAR}
			</if>
			<if test="like_isQuit != null">
				and t1.is_quit like #{like_isQuit,jdbcType=VARCHAR}
			</if>
			<if test="like_created != null">
				and t1.created like #{like_created,jdbcType=TIMESTAMP}
			</if>
			<if test="like_remark != null">
				and t1.remark like #{like_remark,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<select id="getByFind" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from clan_man t1
		<include refid="inc_where" />
	</select>
</mapper>